/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* Text Styles 
================================================================= */
/* header font: 'Abril Fatface' weight, 400 
text font: 'Poppins*/

* {
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 400;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 18px;
}

h1,
h2 {
    font-family: 'Abril Fatface';
    letter-spacing: 3px;
}

h1 {
    font-size: 5rem;
    color: #F3F1DE;
    padding: 9% 0 0 6% ;
    margin: 0;
    line-height: 3.5rem;

}

h2 {
    font-size: 2rem;
    margin: 0;
}

header p,
section p {
    line-height: 1.5rem;
    margin-top: .5rem;
}

/* All Sections
================================================================= */
section {
    height:100vh;
}


.text-box {
    background-color: #F3F1DE;
    display: inline-block;
    width: 55%;
    max-width: 400px;
    padding: 1.75rem 2rem 1rem 2rem;
    margin: 8rem 0 2rem 6%;
    z-index: 1000;
    opacity:0;
    visibility: hidden;
    transition: all .3s ease-in;
}

.text-box-fade {
    opacity: 1;
    visibility: visible;
    transform: translateY(-3rem);
}


img {
    position: absolute;
    transition: all .3s ease-in;
}

/* Header
================================================================= */
header {
    position: relative;
    margin-top: -50px;

}

.fixedIntro {
    background: #54D24B;
    height: 110vh;
    width: 100%;
    z-index: 100;
}

.intro-box {
    background-color: #F3F1DE;
    display: inline-block;
    width: 63%;
    padding: 1.75rem 2rem 1rem 2rem;
    margin: 0 0 2rem 6%;
    z-index: 100;
    color: #54D24B;
}

.basil {
    height: 25rem;
    top: -5rem;
    right: -8rem;
    z-index: 150;
    transform: rotate(60deg);
}

.basilSpin {
    transform: rotate(40deg);
}

/*.basil {
    height: 27rem;
    position: absolute;
    bottom: -10rem;
    left: -9rem;
    z-index: 150;
    transform: rotate(-150deg);
    transition: all .3s ease-in;
}*/

.asparagus {
    height: 50rem;
    bottom: -10rem;
    right: 3rem;
    z-index: 160;
    transform: rotate(25deg);
}

.apple {
    height: 20rem;
    bottom: -3rem;
    right: -1rem;
    z-index: 170;
    transform: rotate(0deg);
}

.appleSpin {
    transform: rotate(15deg);
}

.peas {
    height: 20rem;
    bottom: -10rem;
    right: 16rem;
    z-index: 180;
}

.peasSpin {
    transform: translateY(-2rem);
}


/* Spring
================================================================= */
#spring {
    background: #BC0069;
    position: relative;
    color: #BC0069;
    z-index: 1001;
}

#kumquats {
    height: 25rem;
    bottom: -7rem;
    left: -6rem;
    z-index: 1010;
}


#lemon {
    height: 25rem;
    bottom: -10rem;
    right: 0;
    transform: rotate(-90deg);
    z-index: 1013;
}

#orange {
    height: 19rem;
    bottom: 4rem;
    right: -3rem;
    z-index: 1015;
}

.orangeAnimate {
    transform: rotate(-20deg);
    transform-origin: 10rem 8rem;
}

#orangeSlice {
/*    width: 30%;
    max-width: 358px;*/
    height: 20rem;
    bottom: -3rem;
    right: 16rem;
    z-index: 1020;
}

#kumquatSlice {
    height: 10rem;
    bottom: 14rem;
    right: 16rem;
    z-index: 1023;
}

#pinkGrapefruit {
    height: 24rem;
    bottom: -5rem;
    left: 17rem;
    z-index: 1030;
}

#lemonSlice {
    height: 15rem;
    bottom: 10rem;
    right: 23rem;
    z-index: 1033;

}

.lemonSliceAnimate {
    transform: rotate(45deg);
}


/* Summer
================================================================= */
#summer {
    background: #FFA600;
    position: relative;
    z-index: 2000;
    color: #FFA600;
}

#strawberry {
    height: 15rem;
    bottom: -3rem;
    left: -6rem;
    transform: rotate(-110deg);
    z-index: 2050; 
}

.strawberryBounce {
    -webkit-animation: strawberryBounce .4s ease-in; /* Safari 4+ */
    -moz-animation:    strawberryBounce .4s ease-in; /* Fx 5+ */
    -o-animation:      strawberryBounce .4s ease-in; /* Opera 12+ */
    animation:         strawberryBounce .4s ease-in; /* IE 10+, Fx 29+ */
}

@keyframes strawberryBounce {
    0%   {transform: translateY(0rem) rotate(-110deg);}
    25%  {transform: translateY(.5rem) rotate(-110deg);}
    50%  {transform: translateY(2rem) rotate(-110deg);}
    75%  {transform: translateY(.75rem) rotate(-110deg);}
    100% {transform: translateY(0rem) rotate(-110deg);}
}

#nectarine {
    height: 23rem;
    bottom: -4rem;
    left: 4rem;
    z-index: 2040;  
}

.fruitBounce {
    -webkit-animation: fruitBounce .4s ease-in; /* Safari 4+ */
    -moz-animation:    fruitBounce .4s ease-in; /* Fx 5+ */
    -o-animation:      fruitBounce .4s ease-in; /* Opera 12+ */
    animation:         fruitBounce .4s ease-in; /* IE 10+, Fx 29+ */
}

@keyframes fruitBounce {
    0%   {transform: translateY(0rem);}
    25%  {transform: translateY(.75rem);}
    50%  {transform: translateY(1.5rem);}
    75%  {transform: translateY(.75rem);}
    100% {transform: translateY(0rem);}
}

.secondBounce {
    -webkit-animation: secondBounce .4s ease-in; /* Safari 4+ */
    -moz-animation:    secondBounce .4s ease-in; /* Fx 5+ */
    -o-animation:      secondBounce .4s ease-in; /* Opera 12+ */
    animation:         secondBounce .4s ease-in; /* IE 10+, Fx 29+ */
}

@keyframes secondBounce {
    0%   {transform: translateY(0rem) rotate(-10deg);}
    25%  {transform: translateY(.2rem) rotate(-10deg);}
    50%  {transform: translateY(2rem) rotate(-10deg);}
    75%  {transform: translateY(.5rem) rotate(-10deg);}
    100% {transform: translateY(0rem) rotate(-10deg);}
}

#cherries {
    height: 23rem;
    bottom: -4rem;
    left: 25rem;
    z-index: 2045;
    transform: rotate(-10deg); 
}

#figs {
    height: 23rem;
    bottom: -4rem;
    right: 14rem;
    z-index: 2047;
    transform: rotate(-10deg);
}

#peach {
    height: 30rem;
    bottom: -4rem;
    right: -5rem;
    z-index: 2035;
    transform: rotate(-5deg); 
}

#plum {
    height: 13rem;
    bottom: -2rem;
    right: 14rem;
    z-index: 2048;  
}

/* Fall
================================================================= */
#fall {
    background: #6F005B;
    position: relative;
    z-index: 3000;
    color:#6F005B;
}

.squash {
    height: 25rem;
    bottom: -4rem;
    left: -4rem;
    z-index: 3020;
    transform: rotate(40deg);
}

.squashMove {
    transform: rotate(50deg);
}    

.squash4 {
    height: 18rem;
    bottom: -4rem;
    left: 12rem;
    z-index: 3030;
    transform: rotate(-20deg); 
}

.squash4Move {
    transform: rotate(-30deg);
}  

.eggplant {
    height: 30rem;
    bottom: -4rem;
    right: 28rem;
    z-index: 3025;
    transform: rotate(20deg);
}

.eggplantMove {
    transform: rotate(33deg);
} 

.squash2 {
    height: 14rem;
    bottom: 6rem;
    right: 3rem;
    z-index: 3023;
    transform: rotate(-55deg);
}

.squash2Move {
    transform: rotate(-70deg);
} 

.corn {
    height: 40rem;
    bottom: -3rem;
    right: 3rem;
    z-index: 3035;
    transform: rotate(20deg);
}

.cornMove {
    transform: rotate(33deg);
} 

.squash3 {
    height: 40rem;
    bottom: -3rem;
    right: -8rem;
    z-index: 3037;
    transform: rotate(15deg); 
}  

.squash3Move {
    transform: rotate(7deg);
} 


/* Winter
================================================================= */
#winter {
    background: #003C5B;
    position: relative;
    z-index: 4000;
    color: #003C5B;

}

.kale {
    height: 40rem;
    bottom: -3rem;
    right: -6rem;
    z-index: 4010;
    transform: rotate(20deg); 
}

.kalePile {
    transform: rotate(-30deg);
}

.kale2 {
    height: 40rem;
    bottom: -4rem;
    right: 10rem;
    z-index: 4013;
    transform: rotate(-15deg);
}

.kale2Pile {
    transform: rotate(20deg);
}

.broccoli {
    height: 20rem;
    bottom: 1rem;
    left: 10rem;
    z-index: 4020;
    transform: rotate(-50deg);
}

.broccoliPile {
    transform: rotate(-30deg);
}

.brussels {
    height: 20rem;
    bottom: -5rem;
    right: 7rem;
    z-index: 4030;
    transform: rotate(0deg); 
}


/* Footer
================================================================= */
footer {
    background-color: #122A41;
    clear: both;
    padding: 1.5rem 3.75rem;
    z-index: 5000;
    position: relative;
    color: #F3F1DE;
    line-height: 0;
}

footer section {
    height: auto;
    border-bottom: 1px solid #F3F1DE;
}

footer p {
    display: inline-block;
}

a,
a:visited {
    color: #00DF60;
    padding: 2rem 0 1rem 1rem;
    text-decoration: none;
    display: inline-block;
    transition: all .3s ease-in-out;
}

a:hover {
    color: #008359;
}

.left {
    float: left;
}

.right {
    float: right;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
} 

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media only screen and (max-width: 1285px) { 
    .kale2 {
        opacity: 0;
    }

}

@media only screen and (max-width: 1085px) {
    .asparagus {
        height: 43rem;
    }

    h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 990px) { 
    h1 {
        font-size: 3.8rem;
    }

    .basil {
        height: 20rem;
    }
    .kalePile {
        height: 35rem;
    }

    .broccoli {
        height: 17rem;
    }
}


@media only screen and (max-width: 900px) { 
    html {
        font-size: 16px;
    }

}

@media only screen and (max-width: 800px) { 
    html {
        font-size: 15px;
    }

    h1 {
        padding-left: 10%;
    }

    .fixedIntro {
        height: 115vh;
    }

    .text-box {
        width: 80%;
        max-width: none;
        margin: 17% 10%;
    }

    .basil {
        opacity: 0;
    }

    .intro-box {
        max-width: none;
        width: 80%;
        margin: 0 10%;
    }

    #pinkGrapefruit {
        height: 21rem;
    }

    #lemonSlice {
        height: 11rem;
        transform: translateY(5.5rem);
    }

    #orangeSlice {
        opacity: 0;
    }

    #plum {
        opacity: 0;
    }

    .broccoli {
        right: 10rem;
        left: none;
    }

    
}

@media only screen and (max-width: 690px) {
    .broccoli {
        left: -2rem;
    }
}

@media only screen and (max-width: 620px) {
    .asparagus {
        transform: rotate(35deg);
        right: 1rem;
    }
}

@media only screen and (max-width: 575px) {
    h1 {
        font-size: 3.5rem;
    }

    .asparagus {
        transform: rotate(-90deg);
        right: 3rem;
        bottom: -17rem;
    }

    .peas {
        opacity: 0;
    }

    .broccoli {
        left: -7rem;
    }

    .brussels {
        right: 1rem;
    }

    a {
        display: block;
        padding: .75rem 0 ;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        padding-top: 18% ;
        padding-bottom: 2%;
    }
}

@media only screen and (max-width: 420px) { 
    html {
        font-size: 12px;
    }

    h1 {
        font-size: 3rem;
    }

    #kumquatSlice {
        bottom: 3rem;
    }

    #pinkGrapefruit {
        left: 12rem;
    }

    #nectarine {
        opacity: 0;
    }

    #figs {
        right: 12rem;
    }

    #cherries {
        left: 19rem;
        bottom: -8rem;
    }

    .broccoli {
        left: -10rem;
    }

    .squash4 {
        z-index: 3090;
    }

    .squash3 {
        right: -11rem;
    }

}

@media only screen and (max-width: 320px) { 
    html {
        font-size: 10px;
    }
    
    header p,
    section p {
        font-size: 1.3rem;
    }


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
